@import "tailwindcss";

body {
  @apply bg-red-500 text-white; /* Light mode styles */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.dark body {
  @apply bg-black text-gray-300; /* Dark mode styles with darker background and lighter text */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.footer {
  @apply bg-gray-200 dark:bg-gray-800 text-gray-700 dark:text-gray-300; /* Footer styles */
  @apply p-4 text-center; /* Padding and centering */
}